<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Wish List</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h1 class="mt-4">위시 리스트</h1>
    <div id="wish-list"></div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const token = localStorage.getItem('jwtToken');

        fetch('/wishes', {
            method: 'GET',
            headers: {
                'Authorization': 'Bearer ' + token,
                'Content-Type': 'application/json'
            }
        })
            .then(response => response.json())
            .then(wishes => {
                const wishList = document.getElementById('wish-list');
                wishes.forEach(wish => {
                    const wishDiv = document.createElement('div');
                    wishDiv.innerHTML = `
                    <h2>${wish.product.name}</h2>
                    <p>${wish.product.price}</p>
                    <img src="${wish.product.imageUrl}" alt="${wish.product.name}" style="width: 100px; height: 100px;"/>
                    <button onclick="removeFromWishList(${wish.id})">Remove from Wish List</button>
                `;
                    wishList.appendChild(wishDiv);
                });
            });
    });

    function removeFromWishList(wishId) {
        const token = localStorage.getItem('jwtToken');
        fetch('/wishes/' + wishId, {
            method: 'DELETE',
            headers: {
                'Authorization': 'Bearer ' + token,
                'Content-Type': 'application/json'
            }
        })
            .then(response => {
                if (response.ok) {
                    alert('Product removed from wish list!');
                    location.reload();
                } else {
                    alert('Failed to remove product from wish list.');
                }
            });
    }
</script>
</body>
</html>
